<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.approve.antifraud.dao.FqzdhzhBrhsDhxxDao" >
  <resultMap id="BaseResultMap" type="com.creditharmony.approve.antifraud.entity.ex.AntifraudMeConfirm" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="loan_code" property="loanCode" jdbcType="VARCHAR" />
    <result column="brhs_phone" property="brhsPhone" jdbcType="VARCHAR" />
    <result column="brhs_assess_result" property="brhsAssessResult" jdbcType="VARCHAR" />
    <result column="brhs_remark" property="brhsRemark" jdbcType="VARCHAR" />
    <result column="edit_remark" property="editRemark" jdbcType="VARCHAR" />
    <result column="tel_remark" property="telRemark" jdbcType="VARCHAR" />
    <result column="loan_id" property="loanId" jdbcType="VARCHAR" />
    <result column="home_tel" property="homeTel" jdbcType="VARCHAR" />
    <result column="home_tel_assess_result" property="homeTelAssessResult" jdbcType="VARCHAR" />
    <result column="home_tel_remark" property="homeTelRemark" jdbcType="VARCHAR" />
    <collection property="dhlyxx" resultMap="myResult" javaType="java.util.ArrayList"></collection>
  </resultMap>
  
  <resultMap id="myResult" type="com.creditharmony.approve.phone.entity.DhzhDhlyxx">
  	<result column="subId" property="id" jdbcType="VARCHAR" />
    <result column="dhlyxx_call_time" property="dhlyxxCallTime" jdbcType="TIMESTAMP" />
    <result column="dhlyxx_answer_state" property="dhlyxxAnswerState" jdbcType="VARCHAR" />
    <result column="dhlyxx_answer_inf" property="dhlyxxAnswerInf" jdbcType="VARCHAR" />
    <result column="file_path" property="dhlyxxFilePath" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getMyConfirm" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT 
  		a.id,
  		a.loan_code,
  		a.brhs_phone,
  		a.brhs_assess_result,
  		a.edit_remark,
  		a.tel_remark,
  		a.home_tel,
  		a.home_tel_assess_result,
  		a.home_tel_remark,
  		b.id as subId,
  		b.dhlyxx_call_time,
  		b.dhlyxx_answer_state,
  		b.dhlyxx_answer_inf,
  		b.file_path
  	FROM jk.t_jk_fqzdhzh_brhs_dhxx a
  	LEFT JOIN jk.t_jk_dhzh_dhlyxx b ON a.id = b.r_gx_id
  	WHERE a.loan_code = #{loanCode}
  	ORDER BY a.create_time,b.create_time
  </select>
  
  <select id="getByLoanCode" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT 
  		COUNT(*)
  	FROM jk.t_jk_fqzdhzh_brhs_dhxx
  	WHERE loan_code = #{loanCode}
  </select>
  
  <update id="updateByKeyAndit">
  	UPDATE jk.t_jk_fqzdhzh_brhs_dhxx
	SET 
		brhs_assess_result = #{brhsAssessResult},
		modify_by = #{modifyBy},
     	modify_time = #{modifyTime}
	WHERE id = #{id}
  </update>
  
  <insert id="insertSelective" parameterType="com.creditharmony.approve.antifraud.entity.FqzdhzhBrhsDhxx" >
    insert into jk.t_jk_fqzdhzh_brhs_dhxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loanCode != null" >
        loan_code,
      </if>
      <if test="brhsPhone != null" >
        brhs_phone,
      </if>
      <if test="brhsAssessResult != null" >
        brhs_assess_result,
      </if>
      <if test="brhsRemark != null" >
        brhs_remark,
      </if>
      <if test="editRemark != null" >
        edit_remark,
      </if>
      <if test="loanId != null" >
        loan_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      
      <if test="homeTel != null" >
        home_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loanCode != null" >
        #{loanCode,jdbcType=VARCHAR},
      </if>
      <if test="brhsPhone != null" >
        #{brhsPhone,jdbcType=VARCHAR},
      </if>
      <if test="brhsAssessResult != null" >
        #{brhsAssessResult,jdbcType=VARCHAR},
      </if>
      <if test="brhsRemark != null" >
        #{brhsRemark,jdbcType=VARCHAR},
      </if>
      <if test="editRemark != null" >
         #{editRemark,jdbcType=VARCHAR},
      </if>
      <if test="loanId != null" >
         #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      
      <if test="homeTel != null" >
        #{homeTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 更新编辑标识 -->
  <update id="updateEditRemark" parameterType="java.util.Map">
  	UPDATE 
  		jk.t_jk_fqzdhzh_brhs_dhxx
  	SET 
  		edit_remark = #{editRemark}
  	WHERE loan_code=#{loanCode}
  </update>
  
  <!--增加反欺诈本人核实wanglidong  -->
  <insert id="addConfirm" parameterType="com.creditharmony.approve.antifraud.entity.ex.PhoneConfirmEx" >
    insert into jk.t_jk_fqzdhzh_brhs_dhxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loanCode != null" >
        loan_code,
      </if>
      <if test="brhsPhone != null" >
        brhs_phone,
      </if>
      <if test="brhsAssessResult != null" >
        brhs_assess_result,
      </if>
      <if test="brhsRemark != null" >
        brhs_remark,
      </if>
      <if test="editRemark != null" >
        edit_remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="telRemark != null" >
        tel_remark,
      </if>
       <if test="homeTel != null" >
        home_tel,
      </if>
      <if test="homeTelAssessResult != null" >
        home_tel_assess_result,
      </if>
      <if test="homeTelRemark != null" >
        home_tel_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loanCode != null" >
        #{loanCode,jdbcType=VARCHAR},
      </if>
      <if test="brhsPhone != null" >
        #{brhsPhone,jdbcType=VARCHAR},
      </if>
      <if test="brhsAssessResult != null" >
        #{brhsAssessResult,jdbcType=VARCHAR},
      </if>
      <if test="brhsRemark != null" >
        #{brhsRemark,jdbcType=VARCHAR},
      </if>
      <if test="editRemark != null" >
         #{editRemark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="telRemark != null" >
        #{telRemark,jdbcType=TIMESTAMP},
      </if>
       <if test="homeTel != null" >
        #{homeTel,jdbcType=VARCHAR},
      </if> 
      <if test="homeTelAssessResult != null" >
        #{homeTelAssessResult,jdbcType=VARCHAR},
      </if>
      <if test="homeTelRemark != null" >
        #{homeTelRemark,jdbcType=VARCHAR},
      </if>     
    </trim>
    <!-- 删除本人核实wanglidong -->
	</insert>
	 <delete id="delConfirm" parameterType="java.lang.String" >
	  delete from jk.t_jk_fqzdhzh_brhs_dhxx
	  where id = #{id,jdbcType=NUMERIC}
	</delete> 
	  <!--修改反欺诈电话照会本人核实  wanglidong-->
	<update id="updataConfirm"  parameterType="com.creditharmony.approve.antifraud.entity.ex.PhoneConfirmEx">
	      update jk.t_jk_fqzdhzh_brhs_dhxx
	      <set>      
		      <if test="brhsPhone != null" >
					BRHS_PHONE = #{brhsPhone},
		      </if>
 		      <if test="brhsAssessResult != null" >
					BRHS_ASSESS_RESULT = #{brhsAssessResult},
		      </if>
<!-- 		      <if test="brhsRemark != null" >
					BRHS_REMARK = #{brhsRemark},
		      </if>
		      <if test="editRemark != null" >
					EDIT_REMARK = #{editRemark},
		      </if> -->
		      <if test="modifyBy != null" >
					modify_by = #{modifyBy},
		      </if>
		      <if test="modifyTime != null" >
					modify_time = #{modifyTime},
		      </if>
		      <if test="telRemark != null" >
					tel_remark = #{telRemark},
		      </if>
		      <if test="homeTel != null" >
			     	home_tel = #{homeTel},
		      </if>		
		      <if test="homeTelAssessResult != null" >
			     	home_tel_assess_result = #{homeTelAssessResult},
		      </if>
		      <if test="homeTelRemark != null" >
			     	home_tel_remark = #{homeTelRemark},
		      </if>      
	      </set>
	      WHERE id = #{id}	
	</update>
</mapper>