<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditharmony.approve.carloan.dao.SpreadProvinceCityCelationDao" >
  <insert id="insert" parameterType="com.creditharmony.approve.carloan.entity.SpreadProvinceCityCelation" >
    insert into jk.t_cj_spread_province_city_relation (province_city_id, id, rate_id, 
      create_by, create_time, modify_by, 
      modify_time)
    values (#{provinceCityId,jdbcType=VARCHAR}, #{id,jdbcType=SMALLINT}, #{rateId,jdbcType=SMALLINT}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>